.icon {
  width: 100px;
  height: auto;
  position: absolute;
  left: -18%;
  top: 0;
  object-fit: cover;
}
.name {
  display: block;
  position: absolute;
  left: 25%;
  top: 35%;
}
.card,
.cardActive {
  border: 1px solid #394150;
  padding: 0;
  width: 270px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 12px;
  cursor: pointer;
  flex: 1 0 100%;
}
.card {
  background-color: transparent;
}
.cardActive {
  background-color: #febd2e;
  color: #000;
}
.card:hover {
  background-color: #5b606947;
}
@media (max-width: 860px) {
  .card,
  .cardActive {
    flex: 0 0 calc(50% - 30px);
  }
}
