.wrapper {
  background-color: #e5e7eb;
  color: #0e1325;
  width: 180px;
  padding: 12px 24px;
  border-radius: 30px;
  display: flex;
  gap: 4px;
  height: auto;
}
.menu {
  position: relative;
  display: flex;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 70px;
  font-size: 15px;
  background-color: transparent;
  color: #0e1325;
  border: none;
  font-weight: 700;
}
.icon {
  position: absolute;
  left: 70%;
  top: 10%;
}
