.header {
  max-width: 1135px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.button {
  background-color: white;
  padding: 12px 28px;
  border-radius: 30px;
  color: #0e1325;
  font-weight: 500;
  display: flex;
  gap: 10px;
}
.logo {
  width: 120px;
  height: auto;
}
.img {
  width: 615px;
  height: 415px;
  max-width: 600;
  border-radius: 10px;
  display: block;
  margin: 52px auto 0;
  object-fit: cover;
}
.marker {
  height: 32px;
  width: 18px;

  border-radius: 10px;
}
h1 {
  margin-top: 32px;
  font-family: "Playfair Display", serif;
}
.tags {
  display: flex;
  justify-content: center;
  gap: 12px;
}
span {
  font-weight: 400;
}
.tag {
  background-color: #394150;
  padding: 8px 24px;
  width: auto;
  display: inline-block;
  border-radius: 30px;
}
/* .ingredients {
  
} */
.title {
  margin-top: 40px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
/* .instructions {
  
} */
.ingredientsList {
  margin-top: 16px;
  list-style-type: none;
  padding: 0;
}
.ingredientsItem {
  margin-top: 12px;
}
.instructionsText {
  width: 615px;
  text-align: justify;
  margin: 16px auto 100px;
  white-space: pre-line;
}
/* .ingredientsItem {
  text-align: center;
  margin: 0 auto;

} */
.yellow {
  background-color: #febd2e;
}
.blue {
  background-color: #4e80ee;
}

@media (max-width: 860px) {
  .img {
    width: 50%;
  }
  .button {
    padding: 5px;
  }
}
