.cards {
  min-width: 0;
  display: flex;
  flex-direction: column;
  max-width: 270px;
  height: auto;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.title {
  font-size: 28px;
  margin-bottom: 32px 0 20px;
  font-family: "Playfair Display", serif;
  font-weight: 200;
  text-align: left;
}

@media (max-width: 860px) {
  .cards {
    max-width: none;
    width: 100%;
  }

  .list {
    width: 100%;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .card,
  .cardActive {
    width: auto;
    flex: 0 0 calc(50% - 15px);
    width: calc(50% - 15px);
  }
}
