.wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 55px;
  margin-bottom: 100px;
}
.rightPart {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 0;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
}

@media (max-width: 1200px) {
  .wrapper {
    margin-left: 24px;
    gap: 20px;
  }

  .navigation {
    gap: 16px;
  }
}

@media (max-width: 860px) {
  .wrapper {
    flex-direction: column;
  }
}
