.wrapper {
  position: relative;
}
input {
  border: 2px solid #394150;
  padding: 14px 24px 14px 54px;
  border-radius: 30px;
  background-color: transparent;
  width: 300px;
}
.search {
  display: block;
  position: absolute;
}
.searchBtn {
  position: absolute;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  left: 7%;
  top: 50%;
}
