@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Outfit", sans-serif, "Playfair Display", serif;
  line-height: 1.5;
  font-weight: 200;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e1325;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
